#imperio {
    background-color: red;
}
#rebeldes {
    background-color: blue;
}

#darth {
    font-size: x-large;
}

#luke {
    font-style: italic;
}

#soldado {
    font-size: x-large;
    border: double;
    letter-spacing: 2cm;
}

#apoyo {
    text-align: center;
}